<body style="font-family: Arial, 'pp-sans-big-light', Tahoma, sans-serif;background-color:#f2f2f2">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
    <tbody>
      <tr>
        <td align="center" valign="middle">
          <table border="0" cellpadding="0" cellspacing="0" width="640" align="center"
            style="min-width: 320px; max-width: 640px">
            <tr>
              <td style="text-align: center; padding: 2rem 0 0">
                <span style="font-size: 1.5rem; ">Acrebytes.com</span>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; padding: 0 0 2rem 0">
                <span style="font-size: 0.875rem; margin-top: 4px;">For better real estate</span>
              </td>
            </tr>
          </table>
          <table border="0" cellpadding="0" cellspacing="0" width="640" align="center"
            style="min-width: 320px; max-width: 640px;box-shadow: gray 1px 2px 6px -2px;">
            <tbody>
              <tr style="background-color: whitesmoke;">
                <td style="padding: 1rem; border-bottom: 1px solid whitesmoke;">
                  <span style="color: black; font-size: 1.2rem">
                    ${subject}
                  </span>
                </td>
              </tr>
              <tr>
                <td align="center" valign="middle" bgcolor="#ffffff" style="padding: 1rem; background-color: #ffffff">
                  <table width="520" border="0" cellpadding="0" cellspacing="0" align="center" style="max-width: 520px">
                    <tbody>
                      <tr>
                        <td align="left" valign="middle" style="padding-bottom: 10px">
                          <h1 style="
                              margin: 0px;
                              font-weight: normal;
                              font-size: 18px;
                              line-height: 1.3;
                              color: #2c2e2f;
                            ">
                            Hi ${UserName},
                          </h1>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" valign="middle">
                          <h1 style="
                              margin: 0px;
                              font-weight: normal;
                              font-size: 18px;
                              line-height: 1.3;
                              color: #2c2e2f;
                            ">
                            Thank you for signing up to acrebytes
                          </h1>
                        </td>
                      </tr>
                      <tr>
                        <td style="
                            font-size: 14px;
                            line-height: 60px;
                            color: rgb(0, 48, 135);
                          ">
                          <div style="
                              text-align: center;
                              line-height: 60px;
                              margin-top: 24px;
                              margin-bottom: 24px;
                            ">
                            <a href="${targetCtaLink}" style="cursor: pointer">
                              <button target="_blank" style="
                                  display: inline-block;
                                  font-size: 18px;
                                  color: black;
                                  line-height: 24px;
                                  padding:8px 24px;
                                  text-align: center;
                                  background-color: whitesmoke;
                                  border-radius: 4px;
                                  border: none;
                                  cursor: pointer;
                                " title="View">
                                Login
                              </button>
                            </a>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" valign="middle">
                          <h1 style="
                              margin: 0px;
                              font-weight: normal;
                              font-size: 14px;
                              line-height: 1.3;
                              color: #2c2e2f;
                            ">
                            For better real estate
                          </h1>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" valign="middle" style="padding-bottom: 16px;">
                          <h6 style="
                              margin: 0px;
                              font-weight: normal;
                              font-size: 14px;
                              line-height: 1.3;
                              color: #2c2e2f;
                            ">
                            Team Acrebytes
                          </h6>
                        </td>
                      </tr>
                      <tr>
                        <td style="text-align:center;border-top:1px solid whitesmoke;padding:8px;padding-top:16px;">
                          <p style="
                        margin: 0px;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 1.3;
                        color: #2c2e2f;
                      ">
                            © acrebytes.com
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>